<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/truck.png" />
    <title>@ViewBag.Title | Future Transport</title>
    <link rel="stylesheet" href="~/fonts/fonts/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="~/plugins/fullside-menu/css/style.css" rel="stylesheet" />
    <link href="~/plugins/fullside-menu/waves.min.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
    <link href="~/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/plugins/iconfonts/plugin.css" rel="stylesheet" />
    <link href="~/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/tabs/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="~/css/DateTimePickerBL.css" rel="stylesheet" />
    <link href="~/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .global-loader1 {
            position: fixed;
            z-index: 50000;
            background: url(../images/loader.svg) no-repeat 50% 50% rgba(255, 255, 255);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }

        .table thead th, .text-wrap table thead th {
            background-color: #9f78ff;
            color: white;
        }
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.4/sweetalert2.all.js" integrity="sha512-aYkxNMS1BrFK2pwC53ea1bO8key+6qLChadZfRk8FtHt36OBqoKX8cnkcYWLs1BR5sqgjU5SMIMYNa85lZWzAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/instascan.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/echarts.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
    <div id="global-loader"></div>
    <div class="page">
        <div class="page-main" id="page-main">
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <div class="menu-toggle-button">
                                <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
                                    <span class="fa fa-bars"></span>
                                </a>
                            </div>
                            <div class="mt-2" style="display: none">
                                <div class="searching mt-3 ml-2">
                                    <a href="javascript:void(0)" class="search-open mt-3">
                                        <i class="fa fa-search text-white"></i>
                                    </a>
                                    <div class="search-inline">
                                        <form>
                                            <input type="text" class="form-control" placeholder="Search here">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <a href="javascript:void(0)" class="search-close">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex order-lg-2 ml-auto">
                                <div class="dropdown d-none d-md-flex mt-1">
                                    <a class="nav-link icon full-screen-link">
                                        <i class="fe fe-maximize floating" id="fullscreen-button"></i>
                                    </a>
                                </div>
                                @*<div class="dropdown d-none d-md-flex mt-1">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <i class="fe fe-bell floating"></i>
                                            <span id="bell_noti" class="nav-unread bg-danger"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            @{ Html.RenderAction("Notication", "Home");}
                                        </div>
                                    </div>*@
                                <div class="dropdown mt-1">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                        <span class="avatar avatar-md brround" style="background-image: url(/images/avatar.png)"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                        <div class="text-center">
                                            <a href="#" class="dropdown-item text-center font-weight-sembold user">@Session["Username"].ToString()</a>

                                            <div class="dropdown-divider"></div>
                                        </div>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">
                                            <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <nav id="sidebar" class="nav-sidebar">
                    <ul class="list-unstyled components" id="accordion">
                        <div class="user-profile">
                            <div class="dropdown user-pro-body">
                                <div>
                                    <img src="~/images/admin-sidemenu.jpg" alt="user-img" class="img-circle">
                                </div>
                                <div class="mb-2">
                                    <a href="#" class="" data-toggle="" aria-haspopup="true" aria-expanded="false"> <span class="font-weight-semibold">@Session["Username"].ToString()</span></a>
                                    <br><span class="text-white font-weight-bold">@Session["Department"].ToString()</span>
                                    <br><span class="text-white font-weight-bold"></span>
                                </div>
                                <a href="@Url.Action("Logout", "Home")" title="logout" class="user-button"><i class="fa fa-sign-out"></i></a>
                            </div>
                        </div>
                        @{ Html.RenderAction("SideMenu", "Home");}
                    </ul>
                </nav>

                <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                        opacity: .8; filter: alpha(opacity=70);display:none">
                    <p style="position: absolute; top: 50%; left: 45%; color: White;">
                        <div class="global-loader1">

                        </div>
                    </p>
                </div>

                <div class="content-area">@RenderBody()</div>
            </div>
        </div>
    </div>
    <a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/js/vendors/selectize.min.js"></script>
    <script src="~/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/js/vendors/circle-progress.min.js"></script>
    <script src="~/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/js/vendors/selectize.min.js"></script>
    <script src="~/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/js/vendors/circle-progress.min.js"></script>
    <script src="~/plugins/rating/jquery.rating-stars.js"></script>
    <!-- Fullside-menu Js-->
    <script src="~/plugins/fullside-menu/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/fullside-menu/waves.min.js"></script>
    <!--Morris.js Charts Plugin -->
    <script src="~/plugins/am-chart/amcharts.js"></script>
    <script src="~/plugins/am-chart/serial.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="~/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Data tables -->
    <script src="~/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom Js-->
    <script src="~/js/custom.js"></script>
    <!-- forn-wizard js-->
    <script src="~/plugins/forn-wizard/js/material-bootstrap-wizard.js"></script>
    <script src="~/plugins/forn-wizard/js/jquery.validate.min.js"></script>
    <script src="~/plugins/forn-wizard/js/jquery.bootstrap.js"></script>
    <!-- Inline js -->
    <script src="~/js/DateTimePickerForBL.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <!---Tabs JS-->
    <script src="~/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>

    <script>
        $('body').tooltip({ selector: '[data-toggle="tooltip"]' });

        $(function () {
            $(".datePicker").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy',
                language: "tr",
                changeMonth: true,
                changeYear: true,
            });
        });

        function Table(tableName, data, title, fileName) {
            try {
                if (tableName == null) {
                    alert("table not exist.");
                }
                if ($.fn.DataTable.isDataTable(tableName)) {
                    tableName.DataTable().destroy();
                    tableName.empty();
                }
                var parseJSONResult = jQuery.parseJSON(data);
                if (parseJSONResult != null && parseJSONResult.length > 0) {
                    var dynamicColumns = [];
                    var i = 0;
                    $.each(parseJSONResult[0], function (key, value) {
                        var obj = { sTitle: key };
                        dynamicColumns[i] = obj;
                        i++;
                    });
                    var rowDataSet = [];
                    var i = 0;
                    $.each(parseJSONResult, function (key, value) {
                        var rowData = [];
                        var j = 0;
                        $.each(parseJSONResult[i], function (key, value) {
                            rowData[j] = value;
                            j++;
                        });
                        rowDataSet[i] = rowData;

                        i++;
                    });
                    tableName.dataTable({
                        "destroy": true,
                        "bLengthChange": false,
                        "pageLength": 25,
                        "aaData": rowDataSet,
                        "bInfo": true,
                        "bPaginate": true,
                        "bFilter": true,
                        "paging": true,
                        "order": [0, 1, 2, 3, 4, 5],
                        "columns": dynamicColumns,
                        "deferRender": true,
                        "bSort": false,
                        "dom": 'Bfrtip',
                        "searching": true,
                        "buttons": [
                        ]
                    });
                }
            }
            catch (ex) {
                alert(ex.message);
            }
        }

        $(function () {
            var currDate = new Date();
            $('#datePicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy',
                language: "tr",
                changeMonth: true,
                changeYear: true,
            }).on('changeDate', function (e) {
                $('.datepicker').hide();
            });

            $('#txtigmdate').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy',
                language: "tr",
                changeMonth: true,
                changeYear: true,
            }).on('changeDate', function (e) { });

            $('.datePickerPOD').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy',
                language: "tr",
                changeMonth: true,
                changeYear: true,
                endDate: currDate,
            }).on('changeDate', function (e) { });
        });

        $(function () {
            var currDate = new Date();
            $(".form_datetime1").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy hh:ii',
                language: "tr",
                changeMonth: true,
                changeYear: true,
                forceParse: true,
            }).on('changeDate', function (e) {
                $('.datetimepicker').hide();
            });

            $(".DepartureDateTime").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy hh:ii',
                language: "tr",
                changeMonth: true,
                changeYear: true,
                forceParse: true,
            }).on('changeDate', function (e) {
                $('.datetimepicker').hide();
            });

            $(".RemovalDateTime").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy hh:ii',
                language: "tr",
                changeMonth: true,
                changeYear: true,
                forceParse: true,
            }).on('changeDate', function (e) {
                $('.datetimepicker').hide();
            });

            $(".form_date2").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd M yyyy',
                language: "tr",
                changeMonth: true,
                changeYear: true,
                forceParse: true,
                timepicker: false,
            }).on('changeDate', function (e) {
                $('.datetimepicker').hide();
            });
        });

        $(function (e) {
            $(".first_tab").champ();
            $(".accordion_example").champ({
                plugin_type: "accordion",
                side: "left",
                active_tab: "3",
                controllers: "true"
            });

            $(".second_tab").champ({
                plugin_type: "tab",
                side: "right",
                active_tab: "1",
                controllers: "false"
            });

        });

        function setDefaultHeight() {
            var elmnt = document.getElementById("page-main");
            var height = 0;
            if (elmnt.scrollHeight) {
                height = elmnt.scrollHeight;
            }
            else {
                height = $("#page-main").height();
            }
            height = height - 62;
            $("#sidebar").height(height + "px");
        }

        $(window).on("scroll", function (e) {
            var elmnt = document.getElementById("page-main");
            var height = 0;
            height = elmnt.scrollHeight;
            if ($(this).scrollTop() > height) {
                setDefaultHeight();
            } else {
                setDefaultHeight();
            }
        });

        $(function (e) {
            $('#example').DataTable();
        });

        function setDefaultHeight() {
            var elmnt = document.getElementById("page-main");
            var height = 0;
            if (elmnt.scrollHeight) {
                height = elmnt.scrollHeight;
            }
            else {
                height = $("#page-main").height();
            }
            height = height - 62;
            $("#sidebar").height(height + "px");
        }

        $(window).on("scroll", function (e) {
            var elmnt = document.getElementById("page-main");
            var height = 0;
            height = elmnt.scrollHeight;
            if ($(this).scrollTop() > height) {
                setDefaultHeight();
            } else {
                setDefaultHeight();
            }
        });

        $(function (e) {
            $('#example').dataTable();
        });

        $('#example').dataTable({
            paging: false,
            "order": []
        });
    </script>
</body>
</html>